*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #c8f31d;
}
.heading{
    color: #c8f31d;
    font-size: 80px;
    margin-bottom: 30px;

}
.txt-color{
    color: aqua;
}
.main{
    height: 100vh;
    background-color: #1f1f1f;
    align-items: center;
    text-align: center;
    
}
.container{
    height: 90vh;
    width: 100%;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-container{
    height: 60%;
    width: 50%;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: center;
}
.boxes{
    height: 31%;
    width: 25%;
    border-radius: 20px;
    border: none;
    font-size: 80px;
    font-weight: 700;
    background-color: #623CEA;
    color: #c8f31d;
    cursor: pointer;
}
.winner{
    font-size: 40px;
    padding-bottom: 50px; 
}
.reset-game, .new-game{
    background-color: #623CEA;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.hidden{
    display: none;
}
@media only screen and (max-width: 600px) and (min-width: 300px)  {
    .heading{
        font-size: 40px;
    }
    .boxes{
        height: 32%;
        width: 30%;
        /* font-size: 60px; */
    }
    .main-container{
        width: 90%;
        height: 50%;
    }
    .winner{
        font-size: 25px;
    }
    .winner p{
        margin-bottom: 30px;
        margin-top: -100px;
    }
    .container{
        margin-bottom: -100px;
    }
}